@import "tailwindcss";

:root {
  --dark-navy: #384959;
  --cyan: #88bdf2;
  --torqouise: #bdddfc;
  --shark-blue: #6a89a7;
  --white: #FFFFFF;
  --off-white: #FAFAFA;
}

body {
  background-color: var(--off-white);
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}
@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}
@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (width >= 1400px) {
  .container {
    max-width: 1400px;
  }
}

.text-glow-name {
  position: relative;
  text-shadow: 0 0 20px rgba(40, 74, 158, 0.7);
}
